<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в мессенджер</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="auth-section">
        <h3>Авторизация</h3>
        <input type="text" id="login" placeholder="Логин" />
        <input type="password" id="password" placeholder="Пароль" />
        <button onclick="login()">Войти</button>
        <button class="cookie-login" onclick="loginWithCookie()">Войти через куки</button>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
