<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger - Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="background">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
    </div>
    <div id="auth-section">
        <h3>Регистрация или Вход</h3>
        <input type="text" id="login" placeholder="Логин">
        <input type="password" id="password" placeholder="Пароль">
        <button onclick="register()">Зарегистрироваться</button>
        <button onclick="login()">Войти</button>
        <button class="cookie-login" onclick="loginWithCookie()">Войти через куки</button>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
